.form {
  background-color: #15172b;
  border-radius: 1rem;
  box-sizing: border-box;
  height: 16rem;
  padding: 1rem;
  width: 20rem;
  font-family: sans-serif;
}

.input-container {
  height: 3rem;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 1rem;
}

.ic2 {
  margin-top: 1.5rem;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut-name {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 90px;
}

.cut-short-name {
  width: 50px;
}

.input:focus ~ .cut-name,
.input:not(:placeholder-shown) ~ .cut-name {
  transform: translateY(8px);
}

.cut-desc {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 80px;
}

.cut-short-desc {
  width: 50px;
}

.input:focus ~ .cut-desc,
.input:not(:placeholder-shown) ~ .cut-desc {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 1.5rem;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
