html {
    color: white;
}

body {
    position: relative;
    min-height: 100vh;
}

.all-tickets {
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: auto;
    list-style: none;
}

.ticket {
    background-color: #15172b;
    border-radius: 1rem;
    box-sizing: border-box;
    height: 30rem;
    padding: 1rem;
    width: 30rem;
    margin-top: 5rem;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.ticket-name {
    align-self: flex-start;
    order: 3;
    flex: 0 1 100%;
    text-align: center;
    height: 3rem;
    width: 28rem;
    word-wrap: break-word;
    padding-top: 1rem;
}

.ticket-date {
    height: 1.5rem;
    align-self: flex-start;
    height: 10px;
    order: 1;
    flex: 1 1 auto;
}

.ticket-state {
    height: 1.5rem;
    align-self: flex-start;
    order: 2;
    flex: 1 1 auto;
    text-align: right;
}

.ticket-dsc {
    align-self: flex-end;
    order: 4;
    flex: 1 1 100%;
    height: 20rem;
    text-align: justify;
    width: 28rem;
    word-wrap: break-word;
    padding-top: 1rem;
}

.footer-wrapper {
    padding-bottom: 2.5rem;
    padding-top: 1rem;
    margin-top: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    height: 2.5rem;
    background-color: #08d
}