html {
  color: white;
  font-family: sans-serif;
}

.body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;
}

p {
  padding: 0;
  margin: 0;
}

.new-tickets {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

p {
  padding: 0;
  margin: 0;
}

.new-tickets {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

.all-tickets {
  display: flex;
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: auto;
  list-style: none;
}

.ticket {
  background-color: #15172b;
  border-radius: 1rem;
  box-sizing: border-box;
  height: 30rem;
  width: 30rem;
  margin-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 1rem;
}

.ticket-name {
  /* background-color: #303245;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box; */
  font-weight: bold;
  align-self: flex-start;
  order: 3;
  flex: 0 1 100%;
  text-align: center;
  padding: 1rem;
  height: 3rem;
  width: 28rem;
  word-wrap: break-word;
  margin: 0.5rem;
}

.ticket-date {
  /* background-color: #303245;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box; */
  height: 1.5rem;
  align-self: flex-start;
  height: 1.8rem;
  order: 1;
  flex: 1 1 auto;
  margin: 0.5rem;
}

.ticket-state {
  /* background-color: #303245;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box; */
  height: 1.8rem;
  align-self: flex-start;
  order: 2;
  flex: 1 1 auto;
  text-align: right;
  margin: 0.5rem;
}

.ticket-dsc {
  /* background-color: #303245;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box; */
  align-self: flex-end;
  order: 4;
  flex: 1 1 100%;
  height: 20rem;
  text-align: justify;
  width: 28rem;
  word-wrap: break-word;
  margin: 0.5rem;
}

.footer-wrapper{
  background-color: #08d;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.footer-wrapper div{
  margin-left: 10rem;
  margin-right: 10rem;
  padding-top: 1.2rem;
  font-weight: bold;
}
