.menu-bar {
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  background-color: #05031b;

  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.label {
  flex: 1;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ededed;

  color: #ededed;

  align-self: center;
  margin-left: 2.3rem;
}

.nav {
  flex: 1;
  flex-grow: 0;

  display: flex;
  flex-direction: row;
}

.btn {
  background-color: #08d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  width: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.border-only {
  background-color: transparent !important;

  border: 0.2rem solid;
  border-color: #08d;

  margin-left: 0.5rem;
}

.feed {
  margin-top: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}
