.nav {
    display: flex;
    flex-direction: row;
  
    margin-top: 0.7rem;
    margin-left: 0.7rem;
  }
  
  .nav > * {
    font-size: 1.2rem;
  }
  
  .nav-link {
    color: white;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
  