.nav {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.nav-link {
  margin: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #08d;
  border: none;
  color: white;

  text-decoration: none;

  font-size: 1.6rem;

  min-width: 5rem;

  width: 15rem;
  height: 15rem;
}
